<div id="<%= dom_id widget %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= widget.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this widget", widget, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this widget', edit_widget_path(widget), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
