<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing widget</h1>

  <%= render "form", widget: @widget %>

  <%= link_to "Show this widget", @widget, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to widgets", widgets_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
